.signin{
    background-color: rgba(236, 236, 236, 0.932);
    border-radius: 20px;
    padding: 12px;
    h2{
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 18px;
    }

    label.info{
        margin-top: 24px;
        padding-left: 10px;
        text-align: left;
    }

    div{
        margin-top: 12px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        .remember-me{
            font-size: 2rem;
        }
    }
    button.button__signin {
        @include button_customization(40px,300px,16px);
        margin-top: 16px;
    }
    p{
        text-align: center;
    }
    a{
        display: block;
        text-align: center;
    }
    button.button__signup{
        @include button_customization(30px,100px,12px);
    }
}

