@import '../base/variable';
input {
  background-color: $while;
  cursor: text;
  font-weight: 500;
  font-size: 14px;
  min-width: 300px;
  min-height: 40px;

  border: 0.5px solid rgba(80, 1, 1, 0.178);
  border-radius: 20px;
  outline-color: rgba(175, 0, 23, 0.24);

  padding-left: 10px;
  position: relative;
  display: block;
}
