@import '../base/variable';

@mixin button_customization ($heigh, $width, $font-size) {
    min-height: $heigh;
    min-width: $width;
    font-size: $font-size;
}

button[type="submit"]{
    background-color: $color4;
    color: white;

    font-weight: 600;

    border:unset;
    border-radius: 20px;

    position: relative;
    cursor:pointer;
    background: linear-gradient(90deg, rgba(109,104,117,1) 0%, rgba(181,131,141,1) 50%, rgba(229,152,155,1) 100%);

    transition: all 5s ease-out;
}

button:hover{
    background: linear-gradient(135deg, rgba(229,152,155,1) 0%,rgba(181,131,141,1) 50%,rgba(109,104,117,1) 100%);
}

