a{
    text-decoration: none;
    font-size: 12px;
    color: $color5;
}

a:link {
    color: rgb(102, 3, 3);
}

/* visited link */
a:visited {
    color: rgb(55, 0, 128);
}

/* mouse over link */
a:hover {
    color: blue;
    cursor: pointer;
    font-weight: 500;
}

/* selected link */
a:active {
    color: blue;
}