$color1: #ffcdb2;
$color2: #ffb4a2;
$color3: #e5989b;
$color4: #b5838d;
$color5: #6d6875;
$while: #fff;
$color-background: #f5f5f5;

$breakpoint: (
    'smaill':320px,
    'medium':768px,
    'large':1024px,
)