@import './variable';

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   
.body{
    background: rgb(109,104,117);
    background: linear-gradient(135deg, rgba(109,104,117,1) 0%, rgba(181,131,141,1) 25%, rgba(229,152,155,1) 50%, rgba(255,180,162,1) 75%, rgba(255,205,178,1) 100%);
}