/** This scss use for forgot password, enter-code, enter password panel */
.forgotpassword{
  background-color: rgba(236, 236, 236, 0.932);
  border-radius: 20px;
  padding: 12px;

  .header{
    margin-bottom: 20px;
    button.goSignIn{
      width: 40px;
      height: 40px;

      border: none;
      outline: none;

      &:hover{
        background: none;
      }
    }
  }

  .inputCode {
    width: 100%;
    input.code{
      flex-grow: 1;
      height: 40px;

      text-align: center;
      font-size: 1.5rem;

      border-radius: 5px 0px 0px 5px;
      outline: none;
    }

    .countDown{
      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
      
      font-size: 1.5rem;
      border: 2px solid #000;
    }
  }

  .resendCode{
    text-decoration: underline;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .errorMessage{
    width: 100%;
    height: 20px;
    margin: 5px 0px;

    p{
      color: #ff0000;
    }
  }

  button.button__search{
    @include button_customization(40px,100%,16px);
    // margin-top: 16px;
  }
}