/** This scss use for forgot password, enter-code, enter password panel */
.forgotpassword {
  background-color: rgba(236, 236, 236, 0.932);
  border-radius: 20px;
  padding: 12px;
  .AuthPanel {
    width: 400px;

    .header {
      margin-bottom: 20px;
      button.goSignIn {
        width: 40px;
        height: 40px;

        border: none;
        outline: none;

        &:hover {
          background: none;
        }
      }
    }

    input{
      width: 100%;
    }

    .inputCode {
      width: 100%;
      input.code {
        flex-grow: 1;
        height: 40px;

        text-align: center;
        font-size: 1.5rem;

        border-radius: 5px 0px 0px 5px;
        outline: none;
      }

      .countDown {
        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        font-size: 1.5rem;

        background-color: $color2;
        color: #fff;
      }
    }

    

    .errorMessage {
      width: 100%;
      height: 20px;
      margin: 2px 0px;

      p {
        color: #ff0000;
      }
    }

    p.resendCode {
      text-decoration: underline;
      font-size: 1.1rem;
      color: #000;
      cursor: pointer;
    }

    button.button__search {
      @include button_customization(40px, 100%, 16px);
      // margin-top: 16px;
    }
  }
}
